<%= form_with(model: dict_list) do |form| %>
  <% if dict_list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dict_list.errors.count, "error") %> prohibited this dict_list from being saved:</h2>

      <ul>
        <% dict_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :list %>
    <%= form.text_field :list %>
    <%= form.text_field :list %>
    <%= form.text_field :list %>
    <%= form.text_field :list %>
    <%= form.text_field :list %>
    <%= form.text_field :list %>
    <%= form.text_field :list %>
  </div>

  <div>
  </div>
    <%= hidden_field_tag "user_id", 1 %>
    <%= hidden_field_tag "grade_id", 1 %>
    <%# hidden_field_tag "user_id", @user.id %>
    <%= form.submit %>
  </div>
<% end %>
